<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>WisdPi - Focused on RPi peripheral accessories hardware development</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
	<meta name="description" content="WisdPi is dedicated to the products based on Raspberry Pi, 
		include Raspberry Pi 3A/3B/3B+/4A/4B, Computer Module 3/4(CM3/CM4/CM4s), Raspberry Pi PICO. We have Raspberry Pi HAT(RS232,RS485,Hifi DAC,CAN...), carrier board, cluster, all-in-one and so on.">
	<meta name="author" content="Themefisher">
	<link rel="shortcut icon" href="/images/wisdpiicon.png" type="image/x-icon">
	<link rel="icon" href="/images/wisdpiicon.png" type="image/x-icon">
  
	<!-- theme meta -->
	<meta name="theme-name" content="wallet" />

	<!-- share to twitter
	-->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@wisdpi" />
	<meta name="twitter:creator" content="@wisdpi" />
	<meta property="og:url" content="https://www.wisdpi.com/" />
	<meta property="og:title" content="WisdPi" />
	<meta property="og:description" content="Focused on RPi peripheral accessories hardware development" />
	<meta property="og:image" content="https://www.wisdpi.com/images/wisdpilogo-2.png" />

	<!-- share to facebook
	Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
	<meta property="og:url"           content="https://www.wisdpi.com/" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="WisdPi" />
	<meta property="og:description"   content="Focused on RPi peripheral accessories hardware development" />
	<meta property="og:image"         content="https://www.wisdpi.com/images/wisdpilogo-2.png" />

	<!-- # Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

	<!-- # CSS Plugins -->
	<link rel="stylesheet" href="/plugins/slick/slick.css">
	<link rel="stylesheet" href="/plugins/font-awesome/fontawesome.min.css">
	<link rel="stylesheet" href="/plugins/font-awesome/brands.css">
	<link rel="stylesheet" href="/plugins/font-awesome/solid.css">

	<!-- # Main Style Sheet -->
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

@@include('navigation.htm')
